/* Tailwind will handle responsiveness, spacing, and base styling.
   Add your own for special effects, spacing, or fonts. */

   .dashboard-card {
    background-color: #F7E6CA;
    padding: 1.2rem;
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 5px 10px;
    transition: transform 0.2s ease;
    width: 250px;
}



.dashboard-card:hover {
    transform: translateY(-4px);
    background-color: #EDB886;
    color: maroon;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

  .dashboard-title {
    font-size: 1rem;        /* text-sm */
    color: maroon;             /* text-gray-500 */
    font-weight: 500;           /* font-medium */
  }
  
  .dashboard-number {
    font-size: 1.4rem;          /* text-2xl */
    font-weight: 700;           /* font-bold */
    margin-top: 0.25rem;
  }
  